span[data-tooltip]::before {
    margin-top: 50px;
    margin-bottom: 5px;
    content: attr(data-tooltip);
    display: block;
    opacity: 0;



    margin-left: 3rem;


    /* basic styles */
    width: 120px;
    height: 10px;
    padding: 10px 5px;
    border-radius: 5px;
    background: #815252;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

span[data-tooltip]::after {
    content: '';
    background: #815252;
    transform: rotate(45deg);
    display: block;
    position: absolute;
    opacity: 0;

    left: 110px;
    top: 75px;
    width: 10px;
    height: 10px;

}




span[data-tooltip]:hover::before {
    opacity: 1;
}

span[data-tooltip]:hover::after {
    opacity: 1;
}